<div class="header-info">
  {% if site.logo %}
  <img style="width:150px;margin-bottom:-4px" src="/assets/images/{{ site.logo }}">
  {% else %}
  <span class="header-info-name">{{ site.title }}</span>
  {% endif %}

  <!-- scroll to top from|: https://github.com/vfeskov/vanilla-back-to-top -->
  <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
  <script>addBackToTop({
    diameter: 56,
    backgroundColor: 'rgb(255, 82, 82)',
    //cornerOffset: 100,
    textColor: '#fff'
  })</script>

  <!-- <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

  <!-- <span class="header-info-desc">{{ site.description }}</span> -->
  <!-- <span class="header-info-desc" style="float:right">{% include social.html %}</span> -->
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% for item in site.data.menus %}
    <li class="header-main-nav-item"><a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">{% if item.default %}{{ site.data.lang[site.language][item.default] }}{% else %}{{ item.title }}{% endif %}</a></li>
    {% endfor %}
    <span class="header-info-desc" style="float:right">{% include social-main-nav.html %}</span>
  </ul>
</nav>
